.container{
    width: 100%;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.cartItem p{
    
}

.itemRow{
    display: flex;
    justify-content: space-between;
}
.cart-image{
    flex-basis: 7%;
    height: 7em;
}

.itemRow h4{
    flex-basis: 20%;
}

.itemRow div{
    flex-basis: 30%;
}

.grandTotal{
    align-self: flex-end;
}

.lds-ring {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    /* display: none; */
}

.lds-ring div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid blue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: hsl(168, 75%, 40%) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}