@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: hsl(210, 2%, 56%);
    background: #f3f3f4;
}



/* Left side css */

.left {
    flex-basis: 80%;
    margin: 1em;
}

/* Cart body */

a{
    text-decoration: none;
}

.cart {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2em;
    margin-top: .3em;
    flex-basis: 80%;
}

/* Loader */

.lds-ring {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    /* display: none; */
}

.lds-ring div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid blue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: hsl(168, 75%, 40%) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }

    .cart {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
}