header{
    /* width: 100%; */
    display: flex;
    background: hsl(168, 75%, 40%);
    justify-content: space-between;
}

.app-logo{
    margin: 1em;
    font-size: 1.5em;
    color: #fff;
}

.menu{
    margin: 1em;
}

header .menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    gap: 1em;
}

.menu ul li{
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    header .menu ul{
        
        font-size: 1em;
        gap: .5em;
    }
}