.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 2em;
    margin-top: .3em;
    gap: 1em
}

.img>img{
    width: 10em;
    height: 10em;
    background: #f3f3f4;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* flex-basis: 60%; */
}

tr {
    width: 100%;
}

table td,
table td * {
    vertical-align: top;
}

.product h2 {
    color: hsl(168, 75%, 40%);
}

.product .details {
    font-size: 1.5em;
    font-weight: 300;
    flex-basis: 50%;
}

.description {
    margin: 0;
    padding: 0;
}

.description>span {
    font-size: 15px;
    font-weight: 300;
}

.action-button a {
    text-decoration: none;
    color: hsl(210, 2%, 56%);

}
